.createprocet {
    border: 0;
    border-color: white;
}
.line{
    min-width: 200px;
    width:30%;
    border-bottom: 1px solid gray; /* Параметры линии */
}
.line-d{
    min-width: 400px;
    width:50%;
    border-bottom: 1px solid gray; /* Параметры линии */
}
@media (max-width: 991px) {
    .mian-container img {
        width: 100%;
    }
    .grid-item {
        width: 100%; 
    }
    .progress {
    height: 30px;
    font-size: 16px; } 
}
.close{
    color: black;
    text-decoration: none;
    margin-bottom: 100px;
}
.close:hover{
    color: gray;
}
.right{
    position: fixed;
    height: 100vh;
    width: 20%;
    background-color: #FDD85D;
    right: 0;
    top: 0;
}
.inputfile {
	width: 100px;
	height: 100px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.menu {
    display: inline-block;
    min-width: 100%;
    height: auto;
    overflow: hidden;
}
.frame{ 
    float:left;
    width: 50%
}
.nextbtn{
    padding-top: 500px;
    float: right;
}
.nextImg{
    width: 70%;
}
.qessionBtn{
    width: 50%;
    position: absolute;
    bottom: 10%;
    right: 25%;
}